.item-news-list {
    margin-bottom: 10px;

    a {
        width: 100%;
        color: #4a4a4a;
        padding-right: 15px;
        background: url(../image/a_none.png) 99% 50% no-repeat;
        float: left;
        padding: 10px;
        border-bottom: 1px #e7e7e7 solid;
    }
}