.line_title_p {
    font-weight: 500;
    font-size: 20px;
}

.item-new-similar {
    margin-bottom: 20px;

    .caption {
        color: $main;
        font-weight: 500;
        padding: 10px 0px;
    }
}